serviceName: '54-180-128-102'
containers:
  flask:  # 바뀐 부분
    image: '${IMAGE_NAME}'
    ports:
      '8080': 'HTTP'  # 바뀐 부분
publicEndpoint:
  containerName: 'flask'  # 바뀐 부분
  containerPort: 8080  # 바뀐 부분
